body{
    overflow-x: hidden;
    z-index: -1;   
}


.grid{
    display: flex;
    z-index: -1;
}
button{
    border: none;
}
.home{
    display:flex;
    flex-direction: column;
    width: 65%;
    margin-left: 25%;
    border: 1px solid rgb(49, 54, 47);
    z-index: 500;
    margin-top: 20px;
    background-color: black;
}
.top-tweet{
    vertical-align: middle;
    width: 70px;
    padding-left: 452px;
    margin-right: -15px;
}
.home-title{
    padding-left: 6px;
    color: rgb(231 233 234);
    font-size: 20px;
    display: flex;
    position: fixed;
    align-items: center;
    font-weight: 700;
    z-index: 1000;
    background:rgba(1 ,1 ,1 ,0.91 );
    
    padding-bottom: 20px;
    margin-top: -2px;
    padding-top: 9px;    
}
.top-tweet-container{
    display: inline-block;
    vertical-align: middle;
    
}
.tweet-box{
    padding-top: 70px;
    padding-left: 16px;  
}
.my-profile{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;
    
}
.text-box{
    vertical-align: middle;
    font-size: 20px;
    color: rgb(231 233 234);
    background-color: black;
    border: none;
    padding: 15px 12px;
    padding-right: 100px;
    
}
.text-boxx{
    display: inline-block;
    vertical-align: middle;
}
.icons{
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-top:7px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(47 51 54);
    padding-left: 16px;
    
}
.media-icon{
    width: 24px;
    
    padding-left: 65px;
    
}
.gif-icon{
    width: 28px;
    padding-left: 10px;

    
}
.poll-icon{
    width: 22px;
    margin-left: 7px;
    
}
.emoji-icon{
    width: 20px;
    margin-left: 16px;
}
.schedule-icon{
    width: 24px;
    padding-left: 12px;
}
.location-icon{
    width: 20px;
    margin-left: 19px;
}
.tweet-button-container{
    margin-left: 210px;
}
.tweet-button{
    color: white;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(25, 155, 240);
    padding: 8px 17px;
    border-radius: 30px;
}
.content{
    border-radius: 8px; 
    margin: 0px 12px 0px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-direction: column; 
    color: white;

    
}

.content:hover{
    background-color: rgba(111, 118, 123, 0.1); 
}
.post-profile{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 30px;
    padding-top: 5px;
}
.content-title{
    font-size: 15px;   
    line-height: 1.5; 

}
.post-title{
    font-weight:700;
}
.title-date{
    margin-left: -2px;
    color: rgb(113, 118, 123);
    font-size: 15px;
    
}
.dot{
    font-size: 18px;
    margin-left:290px;
    font-weight: 900;
    color: rgb(113, 118, 123);
    
}
.content-title-profile{
    margin: 10px 12px 10px 0px;
    display: flex;
    flex-direction: column;
    position: relative;


}
.content--title{
    width: 420px;
}

.post-container{
    padding-top: 12px;
}
.line-icon-container{
    display: flex;
    padding-top: 3px;
    height: 32px;
}
.line-icon1, .line-icon-1, .line-icon2, .line-icon-2 .line-icon3, .line-icon-3{
    margin-right: 22px;
    width:100px;
    display: flex;
    align-items: center;
}

.line-icons-icon{
    width: 18px;
    object-fit: cover;
    height: 16px;
}
.line-icon-share{
    margin-left: 8px;
}
.line-icons-share{
    width: 18px;
    object-fit: cover;
    height: 16px;
    padding: 0px 8px;
    
}
.line-icon-share:hover{
    background-color: rgba(29, 155, 240, 0.6 );
    border-radius: 25px;
}
.count1, .count2, .count3{
    font-size: 13px;
    padding-top: 2px;
    padding-left:2px ;
    color: rgb(113, 118, 123);
}

.count1:hover, .count2:hover, .count3:hover{
    color: rgb(29, 155, 240);  
}


.line-icon1:hover, .line-icon2:hover, .line-icon3:hover{
    background-color: rgba(29, 155, 240, 0.4 );
    border-radius: 25px;
    color: rgb(29, 155, 240);
}


.retweet-icon, .like-icon, .share-icon{
    padding-top: 10px;
    padding-right: 7px;
}



.content-title-profile:hover{
    opacity: 1;
    transition: opacity 0.15s;
}

div .icons{
    padding-right: 10px;
}

















